.App {
  text-align: center;
  width: 90%;
  margin: 1% auto;
}

.searchTable {
  width: 100%;
  border-collapse: separate;
  margin: 1% auto;
}

thead td {
  font-weight: bold;
  background-image: linear-gradient(lightblue, lightgreen);
  padding: 5px;
}

/* Table Row Element Border-Radius settings */

td:first-child {
  border-top-left-radius: 10px;
}
td:last-child {
  border-top-right-radius: 10px;
}
td:first-child {
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-bottom-right-radius: 10px;
}

@media (max-width: 600px) {
  .searchTable {
    font-size: 0.9rem;
    color: pink;
  }
}
