audio {
  width: 150px;
}

table tr:nth-of-type(even) {
  background-image: linear-gradient(lightblue, lightgreen);
  border-radius: 10px;
}

img {
  height: 70%;
  width: auto;
}

button:hover{
  cursor: pointer;
}
