.App {
  text-align: center;
  width: 90%;
  margin: 1% auto;
}

.searchTable {
  width: 100%;
  border-collapse: separate;
  margin: 1% auto;
}

thead td {
  font-weight: bold;
  background-image: linear-gradient(lightblue, lightgreen);
  padding: 5px;
}

video {
  width: 200px;
}

td:first-child {
  border-top-left-radius: 10px;
}
td:last-child {
  border-top-right-radius: 10px;
}
td:first-child {
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-bottom-right-radius: 10px;
}
