.App {
  text-align: center;
  width: 90%;
  margin: 1% auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: lightblue;
}

thead {
  font-weight: bold;
}

td {
  margin-top: 15px;
  padding-top: 15px;
}
